<h2>Ironhack Cinema</h2>
<h3>Click on the movies to check the showtimes</h3>

{{#each movies}}
    <img src="{{this.image}}" alt="" />
    <h3>{{this.title}}</h3>
    <a href="/movies/{{showtimes}}">See more</a>
{{/each  }}